@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: #fff;
  -moz-user-select: none;
}
body {
  background: none;
}

header + div {
  padding: 0rem 1rem;
  /* text-align: justify; */
}

p {
  font-size: 1.8rem;
  line-height: 1.3em;
}

ul, ol {
  margin-left: 1rem;
  padding: 0.6rem 1.2rem;
}
li {
  padding: 0;
  font-size: 1.8rem;
  line-height: 1.3em;
}

table {
  border-collapse: collapse;
  border: 1px solid #333;
  font-size: 1.5rem;
}
th, td {
  padding: 0.3rem;
  border-bottom: 1px solid #333;
  text-align: center;
  line-height: 2rem;
}
th, td {
  border-right: 1px solid #333;
}

#kana_table {
  float: left;
  margin-right: 1.5em;
}
/*
#back {
  padding: 4px;
  border: 2px outset #000;
  border-radius : 6px;
  font-size: 1.2em;
}
*/

#footer {
  border-top: 1px solid #000;
  font-size: 1.2em;
  color: #333;
  text-align: center;
}
